* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.block-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    width: 60vw;
}

#hero {
    align-self: center;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.player-scoring, .computer-scoring {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.player-scoring {
    width: 100px;
}

.computer-scoring {
    width: 150px;
}

.block-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 100%;
}

.player-selections {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#rock, #paper, #scissors {
    width: 100px;
    height: 100px;
}

.computer-image {
    width: 150px;
    height: 150px;
    align-self: center;
}

.block-three {
    height: 20vh;
    display: flex;
    align-items: center;
}

#first2five {
    font-size: 24px;
}