* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.block-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    width: 60vw;
}

#hero {
    align-self: center;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.block-three {
    height: 15vh;
    display: flex;
    align-items: flex-start;
}