* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.block-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}
